{#
/**
 * @file
 * Template for the Schedule Builder block.
 *
 * Available variables:
 * - block_id: The unique block ID for this instance.
 *
 * @ingroup themeable
 */
#}
<div class="schedule-builder-container" data-block-id="{{ block_id }}"></div>
